<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926977687197-j9shuv3uq1qe0jcr8fmlqgse7pcqcqmh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926977687197-j9shuv3uq1qe0jcr8fmlqgse7pcqcqmh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>926977687197-6e3n3r6rk3v1orh9cilcnrptl0sqjet4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA13lOt6DjyM1VPNz-7odjKLHRgIkp9UzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>926977687197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.invoconnection</string>
	<key>PROJECT_ID</key>
	<string>connection-65389</string>
	<key>STORAGE_BUCKET</key>
	<string>connection-65389.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926977687197:ios:2cef6317717c3c04e69e74</string>
</dict>
</plist>